.idea
owl/*.owl
download/
db/*.db
docs/
load*-*
schemaload*-*
venv
bin/
target/
test.db
inferences/*tsv
inferences/*owl
inferences/*ttl
*.load
__pycache__
*.old
#.*#
site/
node_modules/*
relation-graph/*
.DS_Store
